<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/patternfly.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/profiles.livesession.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/patternfly.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.livesession.css"/>

    <title>Fleet Commander - New Profile</title>
  </head>
  <body>
    <nav id="topnav" class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Fleet Commander</a>
      </div>
    </nav>

    <div class="modal fade" id="event-logs">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" onclick="listenChanges()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Profile Changes</h4>
          </div>
          <div class="modal-body">
            <form id="selected-changes-form">
              <div class="form-group">
                <ul id="gsettings-event-list">
                </ul>
                <ul id="libreoffice-event-list">
                </ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <input  id="restart-profile" onclick="listenChanges()" data-dismiss="modal" type="button" value="Back"/>
            <input  id="submit-profile"  onclick="deployProfile()"  type="button" value="Save"/>
          </div>
        </div>
      </div>
    </div>

    <div id="spinner-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Saving settings</h4>
          </div>

          <div class="modal-body">
            <div class="spinner"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
          <span>Virtual Session</span>
          <span class="pull-right">
            <input id="close-session" class="btn " type="button" onclick="sessionStop()"   value="Close session"/>
            <input id="review-changes" class="btn btn-primary" type="button" onclick="reviewAndSubmit()" value="Review and submit"/>
          </span>
        </div>

        <div class="panel-body">
          <div id="spice-area">
              <iframe id="spice-screen" class="spice-screen"></iframe>
          </div>

          <div id="message-div" class="spice-message"></div>

          <div id="debug-div">
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
